.page.theme_light {
  --color-background: #fff1f7;
  --color-background-accent: #ff8dcb;
  --color-text-secondary: #353430;
  --color-primary: #ffc2e6;
  --button-hover-outline: 1px solid rgba(50, 49, 45, 0.4);
  --background-image: url("../images/cover-image-light.png");
  --primary-heading-color: #353430;
  --secondary-heading-color: #353430;
}

.theme_light .header__rec {
  display: none;
}

.theme_light .header__rec::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #fff1f7;
    --color-background-accent: #ff8dcb;
    --color-text-secondary: #353430;
    --color-primary: #ffc2e6;
    --button-hover-outline: 1px solid rgba(50, 49, 45, 0.4);
    --background-image: url("../images/cover-image-light.png");
    --primary-heading-color: #353430;
    --secondary-heading-color: #353430;
  }

  .theme_auto .header__rec {
    display: none;
  }

  .theme_auto .header__rec::after {
    display: none;
  }
}
