.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  font-family: var(--font-family-base, "IBM Plex Mono", monospace);
  background-image: var(--background-image);
  background-color: var(--color-background);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  block-size: 100vh;
  min-block-size: 768px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
  position: relative;
}

.decorated-zone .header__logo,
.decorated-zone .footer__text {
  font-family: var(--font-family-base, "IBM Plex Mono", monospace);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--color-primary, #db00ff);
  line-height: 82.5%;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--secondary-heading-color);
}

.decorated-zone::before {
  inset-block-start: 20px;
  inset-inline-end: 20px;
  border-inline-start: none;
  border-block-end: none;
}

.decorated-zone::after {
  inset-block-end: 19px;
  inset-inline-start: 20px;
  border-inline-end: none;
  border-block-start: none;
}

.header__rec {
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 49px;
  display: inline-block;
  color: var(--color-background-accent, #ff0070);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.header__rec::after {
  content: "";
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  background-color: var(--color-background-accent, #ff0070);
  inset-block-start: 7px;
  inset-inline-start: 43px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 0.5);
}

.header__theme-menu {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.header__theme-menu-list {
  display: flex;
  gap: 11px;
}

.header__theme-menu-button {
  font-family: var(--font-family-base, "IBM Plex Mono", monospace);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--secondary-heading-color);
  background: transparent;
  border: none;
  cursor: pointer;
  margin-block-start: 20px;
  padding: 3px 13px;
  appearance: none;
  position: relative;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible::after {
  content: "";
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--secondary-heading-color);
  position: absolute;
  inset-block-end: -2px;
  inset-inline-start: 0;
}

.header__theme-menu-button:hover {
  outline: var(--button-hover-outline);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--secondary-heading-color);
  pointer-events: none;
}

.header__logo {
  grid-row: 2;
  text-shadow: 4px 4px 0 var(--color-background-accent, #ff0070);
}

.header__description {
  grid-row: 3;
  justify-self: end;
  align-self: center;
  inline-size: 50%;
  margin-block-end: 20px;
}

.header__description-text {
  max-inline-size: 96%;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--primary-heading-color);
  gap: 2px;
}

.title-decor {
  background-color: var(--color-background-accent);
}

@media (max-width: 1023px) {
  .header {
    min-block-size: 1024px;
  }

  .header__theme-menu {
    justify-self: end;
    align-items: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
    margin: 35px 20px 14px;
  }

  .header__theme-menu-button {
    margin: 0;
  }

  .header__description-text {
    max-inline-size: 95%;
  }
}

@media (max-width: 767px) {
  .header {
    min-block-size: 668px;
  }

  .decorated-zone::before {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .decorated-zone::after {
    inset-block-end: 11px;
    inset-inline-start: 10px;
  }

  .decorated-zone .header__logo,
  .decorated-zone .footer__text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__rec {
    inset-block-start: 10px;
    inset-inline-end: 39px;
  }

  .header__theme-menu-list {
    margin: 13px 11px 2px;
  }

  .header__logo {
    padding-block-start: 6px;
    padding-inline-start: 10px;
  }

  .header__description {
    inline-size: 100%;
    justify-self: flex-start;
    padding: 0 10px;
    margin-block-end: 14px;
  }

  .header__description-text {
    max-inline-size: 100%;
  }
}

main {
  display: grid;
  grid-template-rows: repeat(4, auto);
  inline-size: 100%;
  padding: 60px 10px;
  gap: 78px;
}

.section--focus {
  max-inline-size: 100%;
  display: grid;
  grid-template-columns: 30% 65%;
  column-gap: 44px;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--secondary-heading-color, #ff0070);
}

.section-title--focus {
  padding: 0 10px;
}

.section__content--focus {
  grid-column: 2;
  grid-row: span 2;
}

.section__card {
  margin-block-end: 20px;
}

.section__card:last-child {
  margin-block-end: 0;
}

.section__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--primary-heading-color, #000028);
  margin-block-end: 13px;
  margin-inline-end: 4px;
}

.section__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-text-secondary, #f1b2ce);
  margin-bottom: 15px;
}

.section__text:last-child {
  margin-bottom: 0;
}

.text-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-background-accent, #ff0070);
  transition: border-block-end 0.5s ease;
}

.text-link:hover {
  border-block-end: 1px solid var(--color-text-secondary, #f1b2ce);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--color-text-secondary, #f1b2ce);
}

.section--distractions {
  max-inline-size: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: auto auto;
  row-gap: 22px;
}

.section-title--distractions {
  grid-column: 1 / 2;
  grid-row: 1;
  padding: 4px 9px 0;
}

.section__content--distractions {
  grid-column: 1 / -1;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9px;
}

.section__item {
  display: flex;
  flex-direction: column;
  padding-inline-start: 11px;
}

.section__subtitle--distractions {
  margin-inline-end: 0;
}

.section--tips {
  max-inline-size: 100%;
  display: grid;
  grid-template-columns: 33% 65%;
  grid-template-rows: auto;
  gap: 13px;
}

.section-title--tips {
  grid-column: 1;
  grid-row: 1;
  align-self: start;
  padding: 7px 10px;
}

.section__content--tips {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  padding-top: 6px;
}

.section__tip-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--primary-heading-color, #000028);
  margin: 4px 5px 10px 2px;
}

.section--images {
  max-inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__subtitle--images {
  grid-column: 1 / -1;
  margin: 1px 10px 0 10px;
}

.section__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 10px;
}

.section__image {
  block-size: 100%;
  object-fit: cover;
  inline-size: 100%;
}

.section__image:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1;
}

.section__image:nth-child(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.section__image:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.section__image:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2;
}

.section__image:nth-child(5) {
  grid-column: 2 / 4;
  grid-row: 3;
}

@media (max-width: 1023px) {
  .section--focus {
    grid-template-columns: 30% 63%;
    column-gap: 42px;
  }

  .section-title--focus {
    padding: 1px 9px;
  }

  .section__subtitle {
    margin-inline-end: 0;
  }

  .section-title--distractions {
    padding: 6px 9px 0;
  }

  .section__content--distractions {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  .section__item {
    margin-inline-end: 0;
  }

  .section__subtitle--distractions {
    margin-inline-end: 3px;
  }

  .section--tips {
    grid-template-columns: 33% 63%;
    gap: 19px;
  }

  .section-title--tips {
    padding: 4px 10px;
  }

  .section__content--tips {
    padding-top: 3px;
  }

  .section__tip-title {
    margin: 7px 0 8px;
  }

  .section__subtitle--images {
    margin: 3px 10px 0 10px;
  }
}

@media (max-width: 767px) {
  main {
    padding: 41px 0px;
    gap: 51px;
  }

  .section {
    max-inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section-title--focus {
    padding: 0 10px;
  }

  .section__content--focus {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .section__card {
    margin-block-end: 24px;
  }

  .section-title--distractions {
    padding: 4px 9px 0;
  }

  .section__content--distractions {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .section__item {
    padding: 0 10px;
  }

  .section__subtitle--distractions {
    margin-block-end: 11px;
    margin-inline-end: 0;
  }

  .section--tips {
    gap: 10px;
  }

  .section-title--tips {
    padding: 5px 10px;
  }

  .section__content--tips {
    padding: 7px 10px 0;
  }

  .section__tip-title {
    margin: 4px 1px 9px 1px;
  }

  .section--images {
    gap: 10px;
  }

  .section__subtitle--images {
    margin: 0 10px;
  }

  .section__images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .section__image {
    block-size: auto;
  }
}

.footer {
  grid-column: 1 / -1;
  text-align: center;
  block-size: 100dvh;
  min-block-size: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.footer__text {
  text-shadow: 2px 2px 0px var(--color-background-accent, #ff0070);
}

@media (max-width: 1023px) {
  .footer {
    min-block-size: 1024px;
  }
}

@media (max-width: 767px) {
  .footer {
    min-block-size: 668px;
  }
}
