.page {
  display: grid;
  grid-template-rows: auto 1fr auto; 
  grid-template-columns: 1fr;
  font-family: var(--font-family-base, 'IBM Plex Mono', monospace);
  background-color: var(--color-background, #000028);
  /* background-image: url('../images/cover-image.png');   */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  block-size: 100vh;
  min-height: 768px;
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: auto auto auto; 
  align-items: center;
  row-gap: 112px; 
}

.decorated-zone{
  position: relative;
}

.decorated-zone h1, 
.decorated-zone .footer__text{
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  color: var(--color-primary, #DB00FF );
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--color-background-accent, #FF0070 ); 
}


.decorated-zone::before, 
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px; 
  height: 25px; 
  border: 1px solid var(--color-background-accent); 
}

.decorated-zone::before {
  top: 20px;
  right: 20px;
  border-left: none; 
  border-bottom: none; 
}

.decorated-zone::after {
  bottom: 19px;
  left: 20px;
  border-right: none; 
  border-top: none;
}

.header__theme-menu {
  grid-column: 1 / -1; 
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__theme-menu-list {
  display: flex;
  gap: 11px; 
}

.header__theme-menu-button {
  font-family: var(--font-family-base, 'IBM Plex Mono', monospace); 
  font-style: normal; 
  font-weight: 400; 
  font-size: 18px; 
  line-height: 18px; 
  color: var(--color-background-accent); 
  background: transparent; 
  border: none; 
  cursor: pointer; 
  margin-top: 20px;
  padding: 3px 13px;
  appearance: none;
  position: relative;
}

.header__theme-menu-button:focus {
  outline: none; 
}

.header__theme-menu-button:focus-visible::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--color-background-accent); 
  position: absolute;
  bottom: -2px; 
  left: 0;
  transform-origin: center;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button_active{
  outline: 1px solid var(--color-background-accent);
}

.header__rec {
  position: absolute; 
  top: 20px;
  right: 49px;
  display: inline-block; 
  color: var(--color-background-accent, #FF0070) ; 
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.header__rec::after {
  content: '';
  position: absolute; 
  width: 10px;
  height: 10px;
  background-color: var(--color-background-accent, #FF0070);
  top: 7px;
  left: 43px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 0.5); 
}


.header__title {
  grid-column: 1 / -1; 
  grid-row: 2; 
  text-align: left; 
  padding-top: 166px;
}

.header__description {
  grid-column: 7 / -1;  
  grid-row: 3; 
  justify-self: end; 
  margin-bottom: 136px;
}

.header__description-text {
  max-width: 96%;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  background-color: var(--color-background-accent); 
  color: var(--background-color); 
  gap: 2px;
}

main {
  display: grid;
  grid-template-rows: repeat(4, auto); 
  width: 100%;
  padding: 60px 10px;
  gap: 80px; 
}

.text-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none; 
  text-shadow: 2px 2px 0 var(--color-background-accent, #FF0070); 
}

.text-link:hover {
  border-bottom: 1px solid var(--color-text-secondary, #F1B2CE);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--color-text-secondary, #F1B2CE);
}


.section--focus {
  max-width: 100%;
  display: grid;
  grid-template-columns: 30% 65%;
  column-gap: 45px;
}

.section__content--focus{
  grid-column: 2; 
  grid-row: span 2; 
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-background-accent, #FF0070) ;
}

.section-title--focus {
  padding: 0 10px;
}

.section__subtitle{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-background, #000028);
  background-color: var(--color-background-accent, #FF0070);
}

.section__subtitle--focus{
  margin-bottom: 11px;
  margin-right: 6px;
}

.section__text{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-text-secondary, #F1B2CE) ;
}

.section__content--focus p {
  margin-bottom: 23px; 
}

.section__content--focus p:last-child {
  margin-bottom: 0; 
}



.section--distractions {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: auto auto;
  row-gap: 20px;
}

.section-title--distractions {
  grid-column: 1 / 2;
  grid-row: 1; 
  padding: 4px 9px 0;
}

.section__content--distractions {
  grid-column: 1 / -1; 
  grid-row: 2; 
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
}

.section__item--distractions {
  display: flex;
  flex-direction: column;
}

.section__item--multitasking {
  padding: 0 6px 0 10px;
}

.section__item--food {
  padding: 0 3px 0 14px;
}

.section__item--gadgets {
  padding-left: 17px;
}

.section__subtitle--distractions {
  margin-bottom: 11px;
}




.section--tips {
  max-width: 100%;
  display: grid;
  grid-template-columns: 33% 65%;
  grid-template-rows: auto;
  gap: 13px; 
}

.section-title--tips {
  grid-column: 1; 
  grid-row: 1; 
  align-self: start; 
  padding: 7px 10px;
}

.section__content--tips {
  grid-column: 2; 
  grid-row: 1; 
  display: flex;
  flex-direction: column; 
}

.section__tip-title {
  margin: 0px 4px 11px 1px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-background, #000028);
  background-color: var(--color-background-accent, #FF0070); 
}

.section__subtitle--tips {
  margin: 6px 3px 20px 0px;
}

.section__content--tips p {
  margin-bottom: 22px;
}

.section__content--tips p:last-child {
  margin-bottom: 0; 
}


.section--images {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px; 
}

.section__subtitle--images {
  grid-column: 1 / -1; 
  margin: 1px 10px 0 10px;
}

.section__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  margin: 0 10px;
}

.section__image {
  height: 100%; 
  object-fit: cover; 
  width: 100%;
}

.section__image:nth-child(1) {
  grid-column: 1 / 3; 
  grid-row: 1; 
}

.section__image:nth-child(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.section__image:nth-child(3) {
  grid-column: 1 / 2; 
  grid-row: 2 / 4;
  
}

.section__image:nth-child(4) {
  grid-column: 2 / 3; 
  grid-row: 2; 
}

.section__image:nth-child(5) {
  grid-column: 2 / 4; 
  grid-row: 3; 
}



.footer {
  max-width: 100%;
  grid-column: 1 / -1;
  text-align: center;
  padding: 320px 0;
}

.footer__text{
  font-family: var(--font-family-base, 'IBM Plex Mono', monospace); 
  font-style: normal;
  font-weight: 700;
  font-size: 157px;
  line-height: 82.5%;
  color: var(--color-primary, #DB00FF);
  text-shadow: 2px 2px 0px var(--color-background-accent, #FF0070) ;
}