/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --color-primary: #db00ff;
  --color-background: #000028;
  --primary-heading-color: #000028;
  --secondary-heading-color: #ff0070;
  --color-background-accent: #ff0070;
  --color-text-secondary: #f1b2ce;
  --button-hover-outline: 1px solid rgba(255, 0, 112, 0.4);
  --font-family-base: "IBM Plex Mono", monospace;
  --background-image: url("../images/cover-image-dark.png");
}
