/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Основные цвета */
  --color-primary: #db00ff; /* Цвет для заголовков, текстов, кнопок с акцентом */
  --color-background: #000028; /* Основной цвет фона страницы */
  --color-background-accent: #ff0070; /* Фон для заголовков и текста */
  --color-text-secondary: #f1b2ce; /* Второстепенный цвет текста */
  --button-hover-outline: 1px solid rgba(255, 0, 112, 0.4);
  /* Шрифты */
  --font-family-base: "IBM Plex Mono", monospace; /* Основной шрифт */
  /* Фон */
  --background-image: url("../images/cover-image-dark.png");
}
